@model IA.Models.AdminView
@{ 
    ViewBag.Title = "Profile";
    ViewBag.user = Model.user;
    Layout = "~/Views/Shared/_AdminProfile.cshtml";
}
<h1>Admin</h1>
<h1>@Html.DisplayFor(model=>model.AllUsers[0].email)</h1>
<h1>@Html.DisplayFor(model => model.AllProjects[0].pName)</h1>