
@{
    Layout = "~/Views/Shared/_profile.cshtml";
}

<div class="col-md-7 order-2 order-md-1">
    
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_1-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_2-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_3-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_4-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_5-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_1-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_2-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_3-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_4-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
    <div class="property horizontal d-flex">
        <div class="mr-3 img-entry">
            <a href="property-single.html"><img src="../../Content/images/property_5-sm.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="prop-details p-3">
            <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
            <div class="mb-2 d-flex justify-content-between">
                <span class="w border-r">6 beds</span>
                <span class="w border-r">4 baths</span>
                <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
        </div>
    </div>
</div>

