
@{
    ViewBag.Title = "Profile";
}

<div class="site-section" id="property-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">

                <div>
                    <h3 class="text-black mb-4">Contact Agent</h3>
                    <div>
                        <img src="../../Content/images/person_8.jpg" alt="Image" class="w-25 mb-3 rounded-circle">
                        <h4 class="text-black">Kyla Stewart</h4>
                        <p class="text-muted mb-4">Real Estate Agent</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, iure atque sit ratione vitae neque! Laborum voluptate eius, laboriosam explicabo!</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Contact Agent</a></p>
                    </div>
                </div>
             </div>
            <div class="col-md-7 order-2 order-md-1">
                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_1-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_2-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_3-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_4-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_5-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_1-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_2-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_3-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_4-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>

                <div class="property horizontal d-flex">
                    <div class="mr-3 img-entry">
                        <a href="property-single.html"><img src="../../Content/images/property_5-sm.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="prop-details p-3">
                        <div><a href="property-single.html"><strong class="price">$3,400,000</strong></a></div>
                        <div class="mb-2 d-flex justify-content-between">
                            <span class="w border-r">6 beds</span>
                            <span class="w border-r">4 baths</span>
                            <span class="w">4,250 sqft.</span>
                        </div>
                        <div>480 12th, Unit 14, San Francisco, CA</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-9 ml-auto">
                <div class="custom-pagination text-center">
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <span class="more-page">...</span>
                    <a href="#">7</a>
                </div>
            </div>
        </div>
    </div>
</div>