
@{
    if (Session["type"].Equals(1))
    {
        Layout = "~/Views/Shared/_AdminProfile.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_profile.cshtml";
    }
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

