
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="row">
    <div class="col-md-7">
        <div class="p-4 mb-3 bg-white">
            <p class="mb-0 font-weight-bold">All Current Not assigned projects</p>
            <!--Data of Projert Is here for Every User-->
        </div>
    </div>
</div>