<div id="proj">
    <div class="property horizontal d-flex">
        <div class="prop-details p-3">
            <div class="mb-2 d-flex justify-content-between">
                @foreach (var item in ViewBag.proj)
                {
                    <strong class="price"><font size="+3">Project @item.pName </font> </strong>
                    <ul class="w border-r">
                        <li><font size="+3">Project Salary : @item.pSalary</font> </li>
                        <li><font size="+3">Project Description : @item.pDescription</font> </li>
                        <li><font size="+3">Project Area : @item.pArea</font> </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
