<div id="proj2">
    <div>
        <div class="row">
            <div class="col-sm-12">
                @foreach (var item in ViewBag.c_proj)
                {
                    <strong class="price"> @item.pName </strong>
                    <ul class="w border-r">
                        <li> Salary : @item.pSalary </li>
                        <li> Description : @item.pDescription</li>
                        <li> Area : @item.pArea </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
